div.improve{
    width: 100%;
    height: auto;
    background: url("../images/improve walll.jpg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: content-box;
    padding-top: 70px;
    padding-bottom: 70px;
}
div.improve>h1{
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "myriad pro regular";
    font-size: 50px;
    margin-bottom: 40px;
}
div.improve>h2{
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: "myriad pro regular";
    font-size: 25px;
}