div.order{
    width:100% ;
    height: auto;
    background: url("../images/blue wall.jpg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: content-box;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}
div.order>h1{
    width: 100%;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    font-family: "myriad pro regular";
    color: #666666;
    font-size: 30px;
    margin-bottom: 100px;
}
div.order>h1>span{
    color: white;
}
div.order>input#email{
    display: inline-block;
    background-color: white;
    width: 40%;
    height: 60px;
    margin-bottom: 35px;
    border: none;
    border-radius: 5px;
    color: #666666;
    text-transform: capitalize;
    padding-left: 10px;
}
div.order>input#text{
    display: inline-block;
    background-color: white;
    width: 40%;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: #666666;
    text-transform: capitalize;
    padding-left: 10px;
    margin-bottom: 60px;
}
div.order>a{
    display: inline-block;
    width: 300px;
    height: 90px;
    background-color: #666666;
    border-radius: 10px;
    color: white;
    line-height: 90px;
    text-align: center;
    font-family: "myriad pro regular";
    text-transform: uppercase;
    font-size: 30px;
}