@font-face {
    font-family: "myriad pro regular";
    src: url("../font-family/myriad pro/MYRIADPRO-REGULAR.OTF");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
