html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.swiper-button-next,div.swiper-button-prev{
    color: white;
    position: absolute;
    top: 70%;
}
div.swiper-pagination{
    position: absolute;
    color: white;
    bottom: -125px;
    font-size: 25px;
    font-family: "BankGothic Lt BT";
    font-weight: bold;
}
div.swiper-slide>h1{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top:125px ;
    text-align: center;
    text-transform: uppercase;
    font-family: "myriad pro regular";
    color: white;
    font-size: 45px;
}
div.swiper-slide>h1:nth-of-type(2){
    top: 225px;
}
div.swiper-slide>h1>span{
    color: #0099ff;
}
div.swiper-slide>p:nth-of-type(1){
    position: absolute;
    width: 60%;
    height: auto;
    text-align: justify;
    top: 300px;
    line-height: 30px;
    color: white;
    font-family: "myriad pro regular";

}
div.swiper-slide>p:nth-of-type(2){
    position: absolute;
    width: 50%;
    height: auto;
    text-align: justify;
    top: 330px;
    line-height: 30px;
    color: white;
    font-family: "myriad pro regular";
}
div.swiper-slide>p:nth-of-type(3){
    position: absolute;
    width: 40%;
    height: auto;
    text-align: justify;
    top: 360px;
    line-height: 30px;
    color: white;
    font-family: "myriad pro regular";
}

